<!DOCTYPE html>
<html>

	<head>
		<%- include('header.ejs'); %>
		<title>Something Something Title</title>
	</head>

	<body>
		<!-- CONTAINER START -->
		<div class="container">
			<!-- TABLE START -->
			<div class="table-responsive">
			  <table class="table table-striped">
			  	<!-- LOOP START -->
			    <% for(var i = 0; i < keys.length; i ++){ %>
			    	<tr>
				    	<td><h3><b><%= keys[i] %></b>:   <i><%= headers[keys[i]] %></i></h3></td>
			    	</tr>
			    <% } %>
			    <!-- LOOP END -->
			  </table>
			</div>
			<!-- TABLE END -->

			<!-- FORM START -->
			<div>
				<form action="/" method="post">
					<div class="form-group">
					  <label>First name:</label>
					  <input type="text" class="form-control" name="first_name">
					</div>
				  <div class="form-group">
					  <label>Last name:</label>
					  <input type="text" class="form-control" name="last_name">
					</div>
				  <div class="form-group">
					  <label>Title:</label>
					  <input type="text" class="form-control" name="title">
					</div>

				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<!-- FORM END -->

		</div>
		<!-- CONTAINER END -->
	</body>

</html>