<!DOCTYPE html>
<html>

	<head>
		<%- include('header.ejs'); %>
		<title><%= title %></title>
	</head>

	<body>
    <!-- CONTAINER START -->
  	<div class="container">
      <!-- TABLES START -->
      <div class="table-reponsive">
        
      	<h1 class="text-center"><b>Body</b></h1>
        <!-- POST BODY START -->
    		<div id="body">
          <table class="table table-striped">
            <!-- LOOP START -->
      	    <% for(var i = 0; i < keys.length; i ++){ %>
              <tr>
        	    	<td><h3><b><%= keys[i] %></b>:   <i><%= body_hashes[keys[i]] %></i></h3></td>
              </tr>
      	    <% } %>
            <!-- LOOP END -->
          </table>
    		</div>
        <!-- POST BODY END -->

    		<h1 class="text-center"><b>Headers</b></h1>
        <!-- HEADER DATA START -->
    		<div id="headers">
          <table class="table table-striped">
            <!-- LOOP START -->
    		    <% for(var i = 0; i < header_keys.length; i ++){ %>
              <tr>
      		    	<td><h3><b><%= header_keys[i] %></b>:   <i><%= headers[header_keys[i]] %></i></h3></td>
              </tr>
    		    <% } %>
            <!-- LOOP END -->
          </table>
    		</div>
        <!-- HEADER DATA END -->

    		<h1 class="text-center"><b>Cookies</b></h1>
        <!-- COOKIE DATA START -->
    		<div id="cookies">
          <table class="table table-striped">
            <!-- LOOP START -->
    		    <% for(var i = 0; i < cookie_keys.length; i ++){ %>
              <tr>
      		    	<td><h3><b><%= cookie_keys[i] %></b>:   <i><%= cookies[cookie_keys[i]] %></i></h3></td>
              </tr>
    		    <% } %>
            <!-- LOOP END -->
          </table>
    		</div>
        <!-- COOKIE DATA END -->

      </div>
      <!-- TABLES END -->
    </div>
    <!-- CONTAINER END -->
	</body>

</html>